<div class="container-fluid">
    <div class="slide" data-anchor="slide1">
        <div class="row">
            <div class="col-md-6">
                <img src="https://s3.amazonaws.com/avengers-rails/avengers/cap.png" class="center-block" alt="Captain America">
            </div>
            <div class="col-md-6 coach-name">
                <h3><span class="big">C</span>aptain <span class="big">A</span>merica</h3>
                <h4>Ultimate Frisbee</h4>
            </div>
        </div>
    </div>
    <div class="slide" data-anchor="slide2">
        <div class="col-md-6">
          <img src="https://s3.amazonaws.com/avengers-rails/avengers/h-e.png" class="center-block" alt="Hawkeye">
        </div>
    <div class="col-md-6 coach-name">
      <h3><span class="big">H</span>awkeye</h3>
      <h4>Archery</h4>
    </div>
  </div>
    <div class="slide" data-anchor="slide3">
      <div class="col-md-6">
        <img src="https://s3.amazonaws.com/avengers-rails/avengers/black-widow.png" class="center-block" alt="Black Widow">
      </div>
        <div class="col-md-6 coach-name left">
            <h3><span class="big">B</span>lack <span class="big">W</span>idow</h3>
            <h4>Gymnastics</h4>
        </div>
    </div>
    <div class="slide" data-anchor="slide4">
        <div class="col-md-6">
            <img src="https://s3.amazonaws.com/avengers-rails/avengers/hulk.png" class="center-block" alt="Hulk">
        </div>
    <div class="col-md-6 coach-name left">
      <h3><span class="big">H</span>ulk</h3>
      <h4>Weight Lifting</h4>
    </div>
  </div>
</div>
