
  <div data-ng-include="'view/nav.html'"></div>


<div full-page options="vm.mainOptions">
    <div class="section active first" data-ng-include="'view/firstSection.html'">
    </div>
    <div class="section" data-ng-include="'view/campusNews.html'"></div>
    <div class="section" data-ng-include="'view/academics.html'"></div>
    <div class="section" data-ng-include="'view/professors.html'"></div>
    <div class="section" data-ng-include="'view/athletics.html'"></div>
    <div class="section" data-ng-include="'view/apply.html'"></div>
</div>
